.notification {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.notification:before {
  content: "";
  position: absolute;
  inset-block-start: 55px;
  inset-block-end: 64px;
  border-inline-start: 1px dashed var(--primary04);
  inset-inline-start: 49.05%;
  margin-inline-start: -1px;
}
.border.border-primary.border-opacity-50 {
  border-color: #6aa6e682 !important;
}
.border.border-opacity-50 {
  --bs-border-opacity: 0.5 !important;
}
.border.border-primary {
  border: 1px solid var(--primary-color) !important;
  opacity: 1;
}
.notification .notification-body {
  margin-inline-start: 0;
  margin-inline-end: 4%;
  background: var(--custom-white);
  border: 1px solid var(--default-border);
  box-shadow: 0 2px #768afe08;
  position: relative;
  padding: 1rem;
  border-radius: 6px;
}
.notification-body {
  background: #fff !important;
}
.bg-primary-transparent,
.bg-primary-transparent:hover {
  background-color: rgba(var(--primary-rgb), 0.1) !important;
  color: #5142fc !important;
}

.badge {
  padding: 0.25rem 0.45rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-size: 11px;
}

.notification .notification-time {
  margin-block: 2.1rem;
}
.notification > li {
  position: relative;
  min-height: 50px;
  padding: 12px 0;
}
.circular-img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: cover;
}
.msg-text {
  font-size: 13px;
  line-height: normal;
}
.accordian-icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.accordian-icon.rotate {
  transform: rotate(90deg);
}

@media (min-width: 300px) and (max-width: 500px) {
  .ticket-btn {
    width: 91%;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .ticket-btn {
    width: 93%;
  }
}
@media (min-width: 880px) and (max-width: 1080px) {
  .ticket-btn {
    width: 94%;
  }
}
@media (max-width: 768px) {
  .ticket-btn {
    width: 95%;
  }
}
.msg-container {
  border-radius: 10px;
}
.msg-label {
  color: black;
  font-size: 18px;
  padding-bottom: 10px;
}

.msg-date-div {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px;
}
.message-box {
  min-height: 40px;
  min-width: 150px;
}

.textAreaBox {
  height: 40%;
  font-size: 15px;
}
