@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins" !important;
  color: black;
  background: #030303 !important;
}

.showBorder {
  border: 1px solid red;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
.admin {
  justify-content: end;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.step-card {
  position: relative;
  background-color: #181818;
  padding: 30px;
  transition: 0.4s ease;
}

/* Shared corner style */
.corner-tl,
.corner-tr,
.corner-bl,
.corner-br {
  position: absolute;
  width: 20px;
  height: 20px;
  border-color: var(--primary-color3);
  border-style: solid;
  transition: 0.4s ease;
}

/* Top Left */
.corner-tl {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}

/* Top Right */
.corner-tr {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}

/* Bottom Left */
.corner-bl {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px;
}

/* Bottom Right */
.corner-br {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
}

.step-card:hover {
  box-shadow: 0 0 5px var(--primary-color3), 0 0 25px var(--primary-color3);
}

.step-card:hover .corner-tl,
.step-card:hover .corner-tr,
.step-card:hover .corner-bl,
.step-card:hover .corner-br {
  width: 100%;
  height: 100%;
  transition: 0.9s ease;
}
.step-card {
  flex: 0 0 calc(25% - 20px);
}
.step-row {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Remove Bootstrap grid widths INSIDE step-card */
.step-row > div {
  width: 100% !important;
  max-width: 100% !important;
  flex: none !important;
}

@media (max-width: 448px) {
  .step-row {
    grid-template-columns: 1fr;
  }
  .tradenftImg {
    height: 100% !important;
    width: 100% !important; 
    display: flex;
  }
}

.tradenftImg {
  height: 288px;
  width: 288px;
  display: flex;
}

.Heropage {
    background-image: url("/src/assets/home-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.HomePageMain .Heropage .Heading {
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 1px;
}